<style>
  h1 {
    text-align: center;
    font-size: 2.4rem;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
  }
  input {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 200px;
    font-size: 1.2rem;
  }

  .error-output {
    color: red;
    font-size: 1.2rem;
    display: block;
    margin: 5px auto;
    width: 200px;
    text-align: center;
  }
</style>

<main class="main">
  <div>
  <h1>Hello {{this.userName}} From Bridgelabz</h1>
  <img [src]="image" (click)="onClick($event)" alt="Bridgelabz Logo:a bridge to employment through lab works"/>
</div>

<div>
    <input (input)= "onInput($event)" type="text" [(ngModel)]="userName" placeholder="Enter your name" />
    <span class = "error-output">{{this.nameError}}</span>
</div>
</main>
<router-outlet />
